
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.suo
obj/
[Rr]elease*/
_ReSharper*/
*resharper*
*.sln.cache
[Tt]est[Rr]esult*
ProjectName/bin
ProjectName/obj
*.csproj.user
*.swp
_compareTemp
_notes
aspnet_client
httpd.parse.errors
downloads