<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    <sectionGroup name="everywhere">
      <section name="settings" type="Elmah.Everywhere.Configuration.EverywhereConfigurationSection, Elmah.Everywhere"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Elmah.Everywhere" connectionString="Data Source=.;Initial Catalog=Elmah.Everywhere;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <elmah>
    <security allowRemoteAccess="true"/>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah.Everywhere" applicationName="Exceptions-Handler"/>
  </elmah>
  <everywhere>
    <!-- Configure Elmah.Everywhere 
         URL:              Remote web site url to log an error
         Token:            Token to identify client
         ApplicationName:  Error source
         Host:             Error host
    -->
    <settings remoteLogUri="http://localhost:11079/error/log" token="Host-Site" host="Host-Site" applicationName="Host-Site"/>
  </everywhere>
  <system.web>
    <trace enabled="true"/>
    <!-- ASP.NET Web Site Administration Tool 
         http://localhost:25125/asp.netwebadminfiles/default.aspx
      -->
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="Elmah.Everywhere" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Elmah.Everywhere" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Hashed" applicationName="/"/>
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <compilation debug="false" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>